[Desktop Entry]
Type=Application
Name=ATOF
Comment=Game About Mister Atom
Exec=/usr/bin/env bash -lc 'cd "/home/atom/PycharmProjects/ATOF" && python3 main.py'
Icon=/home/atom/PycharmProjects/ATOF/icon_128.png
Terminal=false
Categories=Game;
StartupNotify=true
